$font-size-xxs: 11px; // custom
$font-size-xs: 12px; // custom
$font-size-sm: 13px;
$font-size-base: 14px;
$font-size-lg: 15px;
$font-size-xl: 20px; // custom

$font-family-B: "Bold", "sans-serif";
$font-family-SB: "SemiBold", "sans-serif";
$font-family-M: "Medium", "sans-serif";
$font-family-L: "Light", "sans-serif";
$font-family-EL: "ExtraLight", "sans-serif";
$font-family-T: "Thin", "sans-serif";

$white: #1d0909;
$black: #000000;
$grey1: #f6f6f6;
$grey2: #565656;
$grey3: #242424;
