$font-size-xxs: 11px; // custom
$font-size-xs: 12px; // custom
$font-size-sm: 13px;
$font-size-base: 15px;
$font-size-lg: 17px;
$font-size-xl: 20px; // custom
$font-size-xxl: 30px;

$font-family-B: "Bold", "sans-serif";
$font-family-SB: "SemiBold", "sans-serif";
$font-family-M: "Medium", "sans-serif";
$font-family-L: "Light", "sans-serif";
$font-family-EL: "ExtraLight", "sans-serif";
$font-family-T: "Thin", "sans-serif";
$font-family-Ed: "Edensor";

$white: #ffffff;
$black: #000000;
$black2: #161617;
$grey1: #f5f5f7;
$grey2: #dddddd;
$grey3: #565656;
$grey4: #242424;

@function flex($direction: row, $justify: center, $align: center) {
  @return (
    display: flex,
    flex-direction: $direction,
    justify-content: $justify,
    align-items: $align
  );
}

$flex: flex(row, space-between, center);
